@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --pr-pale: hsl(225, 100%, 94%);
    --pr-bright: hsl(245, 75%, 52%);
    --pr-box: rgba(56, 41, 224, 0.5);
    --ne-pale: hsl(225, 100%, 98%);
    --ne-desaturated: hsl(224, 23%, 55%);
    --ne-dark: hsl(223, 47%, 23%);
    --font-size: 16px;
    --font-family: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

button {
    border: none;
    background-color: none;
}

.card {
    background-color: var(--pr-pale);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 30ch;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 40px 0;
}

.content {
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}

.content .logo {
    background: url('./images/illustration-hero.svg') no-repeat center center / cover;
    height: 30vh;
    border-radius: 10px 10px 0 0;
}

.sumarry {
    max-width: 300px;
}

.order {
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

.order h1 {
    font-weight: 900;
    font-size: 27px;
    padding-bottom: 10px;
}

.order p {
    max-width: 300px;
    margin: auto;
    font-size: 16px;
    color: var(--ne-desaturated);
}

.plan {
    display: flex;
    background-color: var(--ne-pale);
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    padding: 20px 10px;
    justify-content: space-between;
}

.plan h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.5;
}

.plan p {
    font-size: 15px;
    color: var(--ne-desaturated);
}

.plan .price {
    display: flex;
    margin: auto 5px;
}

.plan .price img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

.plan .button {
    margin-top: 15px;
    margin-right: 5px;
}

.plan a {
    font-size: 16px;
    font-weight: 600;
    color: var(--pr-bright);
}

.plan a:hover {
    color: var(--ne-desaturated);
    text-decoration: none;
}

.pay {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 5px;
}

.btn {
    text-align: center;
    font-size: 16px;
    width: 90%;
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.btn-1 {
    background-color: var(--pr-bright);
    color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 10px var(--pr-box);
}

.btn-1:hover {
    background-color: var(--ne-desaturated);
}

.btn-2 {
    color: var(--ne-desaturated);
    margin: 20px auto;
    border-radius: 20px;
    background: none;
}

.btn-2:hover {
    color: var(--ne-dark);
}

@media (max-width:991px) {
    .card {
        background-image: url('./images/pattern-background-mobile.svg');
        padding: 50px;
    }
    .content {
        width: 350px;
        margin: auto;
    }
}

@media (max-width:500px) {
    .card {
        background-image: url('./images/pattern-background-mobile.svg');
        width: 100vw;
        height: 100vh;
        padding: 20px;
    }
    .content {
        width: 80vw;
        height: 85vh;
        margin: auto;
    }
}

@media (max-width: 300px) {
    .card {
        margin: 0;
        padding: 5px 0;
    }
    .content {
        margin: auto;
        width: 90vw;
    }
}